// ******** ARTICLE LISTING ******** //

.articles-container-listing {
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap:wrap;
  .articles-card-listing {
    max-width:370px;
    margin:15px;
    border:2px solid;
    text-align:center;
    h3 {
      height: 60px;
      margin: 20px 0;
      @include font(GG_S, 22);
    }
    .articles-card-details {
      position:relative;
      text-align:center;
      p:nth-child(3){
        height: 60px;
        padding:10px 0;
        line-height:20px;
        @include font(GG_R, 14);
      }
      img{
        max-height:250px;
        width:100%!important;
      }
    }
  }
}

//.articles-card-button {
//  background-color: grey;
//}

// ******** ARTICLE DETAILS ******** //

.articles-container-details {
  margin: 20px;
  h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    @include font(GG_S, 28);
  }
 }

// ******** NEW ARTICLE ******** //

.container-article-form {
  h1 {
    text-align: center;
    padding: 20px;
    @include font(GG_R, 36);
  }
}

.articles-container-new {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .article-title-form {
    padding: 20px 5px;
    @include font(GG_R, 24);
  }
}

.title-article-form {
  border-bottom: 2px solid;
  @include font(GG_R, 24);
}

.button-article {
  margin-left: 20px;
}

.fr-view {
  padding: 25px;
  .fr-element {
    height: 500px;
  }
}

.visibility {
  display: none;
}
