// ******** ARTICLE LISTING ******** //

.articles-container-listing {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  .articles-card-listing {
    //width: 33%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 0 30%;
    min-width: 200px;
    max-width: 400px;
    padding: 10px;
    margin: 20px;
    height: 500px;
    border: 2px solid;
    h3 {
      margin: 20px 0;
      @include font(GG_S, 22);
    }
  }
}

//#isPasted {
//  display: none;
//}

// ******** ARTICLE DETAILS ******** //

.articles-container-details {
  margin: 20px;
  h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
    @include font(GG_S, 28);
  }
 }

// ******** NEW ARTICLE ******** //

.container-article-form {
  h1 {
    text-align: center;
    padding: 20px;
    @include font(GG_R, 36);
  }
}

.articles-container-new {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .article-title-form {
    padding: 20px 5px;
    @include font(GG_R, 24);
  }
}

.title-article-form {
  border-bottom: 2px solid;
  @include font(GG_R, 24);
}

.button-article {
  margin-left: 20px;
}

.fr-view {
  padding: 25px;
  .fr-element {
    height: 500px;
  }
}

.visibility {
  display: none;
}
