.pagination-container {
  margin: 25px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  @include font(GG_R, 18);
  .current {
    margin: 0 5px;
    border: solid 1px black;
    padding: 10px 20px;
  }
   span a {
    margin: 0 5px;
    border: solid 1px black;
    padding: 10px 20px;
  }
}