.container-form {
  margin-top: 10%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  .flex-form {
    display: flex;
    flex-direction: row;
    padding: 20px 0 5px 0;
    @include font(GG_R, 18);
  }
}

.signin-form {
  background-color: white;
  padding: 5px 0;
  border-bottom: 1px solid;
  @include font(GG_R, 16);
}

#registration_form_plainPassword_first, #registration_form_plainPassword_second {
  background-color: white;
  padding: 5px 0;
  border-bottom: 1px solid;
  @include font(GG_R, 16);
}

.choice-type {
  @include font(GG_R, 16);
}

.fa-solid {
  margin: 3px;
}

#registration_form_roles_0 {
   margin-left: 0px;
}

#registration_form_roles_1 {
  margin-left: 12px;
}

#registration_form_agreeTerms {
  margin-left: 0px;
}

button {
  padding: 10px;
  margin: 20px 0;
  border: 2px solid;
  cursor: pointer;
  @include font(GG_R, 16);
}