//.title-registration {
//  text-align: center;
//  margin: 5% auto;
//  @include font(GG_S, 32);
//}

.container-form {
  width: 50%;
  margin: 5% auto;
  display: flex;
  justify-content: center;
  .flex-form {
    display: flex;
    flex-direction: row;
    padding: 20px 0 5px 0;
    @include font(GG_R, 22);
  }
}

.form-content {
  width: 90%;
  max-width: 900px;
}

.signin-form {
  width: 100%;
  background-color: white;
  padding: 5px 0;
  border-bottom: 1px solid;
  @include font(GG_R, 16);
}

#registration_form_plainPassword_first, #registration_form_plainPassword_second {
  width: 100%;
  background-color: white;
  padding: 5px 0;
  border-bottom: 1px solid;
  @include font(GG_R, 16);
}

.choice-type {
  @include font(GG_R, 16);
}

.fa-solid {
  margin: 3px;
}

#registration_form_roles_0 {
   margin-left: 0px;
}

#registration_form_roles_1 {
  margin-left: 12px;
}

#registration_form_agreeTerms {
  margin-left: 0px;
}

button {
  padding: 10px;
  margin: 20px 0;
  border: 2px solid;
  cursor: pointer;
  @include font(GG_R, 16);
}

.checkbox-cgu {
  display: flex;
  margin-top: 15px;
}

.cgu {
  @include font(GG_R, 16);
}

@media (max-width: 425px) {
  .container-form {
    .flex-form {
      @include font(GG_R, 18);
    }
  }
}