{% extends 'base.html.twig' %}

{% block body %}
    <section class="new-article-form">
        <div class="container-article-form">
            <h1>Raconte nous ton plus beau voyage :) !</h1>
            {{ form_start(articleForm, {'attr': {'class': 'articles-container-new'}}) }}
            <div>
                {{ form_row(articleForm.title, {
                    'label_attr': {'class': 'article-title-form'}
                }) }}
            </div>
            <div class="fr-view">
                {{ form_row(articleForm.content) }}
            </div>
            {{ form_end(articleForm) }}
        </div>
    </section>

{% endblock body %}